/* media query */


@media (max-width: 78em) {


     .heading-primary {
          font-size: 4rem;
     }

     
     .certificates,
     .projects-wrapper
      {
          grid-template-columns: 1fr 1fr;
          grid-template-rows: 1fr 1fr;
     }

     .my-skills {
          padding: var(--96) var(--64);
     }

     .skills-wrapper {
          gap: 2rem;
          justify-items: center;

     }

    .skill-container {
padding: 0 var(--64);
     }

     .certificates,
     .projects-wrapper {
          gap: 4.8rem;
          align-items: center;
          justify-items: center;
     }

     .testimonials {
          padding: var(--96) var(--24);
     }



}

@media (max-width: 64em) {
     html {
          font-size: 56.25%; 
     }

     .testimonials {
          padding: var(--96) var(--96);
     }

     .testestimonial-wrapper {
          grid-template-columns: repeat(2, 1fr);
          align-items: center;
          justify-items: center;
          column-gap: 4.8rem;
          row-gap: 9.6rem;
          text-align: center;
     }

     .center {
          grid-column: 1/ -1;
          justify-self: center;
          max-width: 44%;
          display: inline-block;
     }

     .container {
          padding: var(--64) var(--64);
     }

     .zeinab-img {
     width: 100%;
     height: auto;
     
     
}



}


@media (max-width: 50em) {
     
.skill-container {

     /* .container {
          padding: var(--64) var(--48);
     } */


padding: 0 var(--30);
     }


     .testimonials {
          padding: var(--96) var(--48);
     }

     .testestimonial-wrapper {
          grid-template-columns: repeat(2, 1fr);
          align-items: center;
          justify-items: center;
          column-gap: 4.8rem;
          row-gap: 9.6rem;
          text-align: center;
     }

     .center {
          grid-column: 1/ -1;
          justify-self: center;
          max-width: 50%;
          display: inline-block;
     }


/* .occupation {
     font-size: 3rem;
}

@keyframes typing {
     0% {width: 0;}
     50% {width: 130px;}
     100% {
          width: 130px;
     }


} */



}





@media (max-width: 75em) {
     html {
          font-size: 56.25%; 
     }

     
     .heading-primary {
          font-size: 3.6rem;
     }

     .heading-teritary {
          font-size: 2.4rem;
     }

     .header {
          padding: 0 3.2rem;
     }

     .main-nav-list {
          gap: 3.2rem;
     }


     
}


@media (max-width: 59em) {
     html {
          font-size: 50%;

     }

     .testimonials {
          padding: var(--96) var(--48);
     }

     .testestimonial-wrapper {
          grid-template-columns: 1fr;
          align-items: center;
          justify-items: center;
          column-gap: 4.8rem;
          row-gap: 9.6rem;
          text-align: center;
     }

     .skills-wrapper {
          gap: 4rem;
          justify-items: center;

     }
     .logo-wrapper img{
          width: 36px;
          height: 36px;
     }

     .skill-container p{
          font-size: 2.4rem;
     }
     .center {
          max-width: 100%;
     }

     /* MOBILE NAVIGATION */
  .btn-mobile-nav {
    display: block;
    z-index: 9999;
  }

  .main-nav {
    background-color: rgba(255, 255, 255, 0.8);
    -webkit-backdrop-filter: blur(6px);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
     z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s ease-in;

    /* Hide navigation */
    /* Allows NO transitions at all */
    /* display: none; */

    /* 1) Hide it visually */
    opacity: 0;

    /* 2) Make it unaccessible to mouse and keyboard */
    pointer-events: none;

    /* 3) Hide it from screen readers */
    visibility: hidden;
  }

  .nav-open .main-nav {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0);
  }

  .nav-open .icon-mobile-nav[name="close-outline"] {
    display: block;
  }

  .nav-open .icon-mobile-nav[name="menu-outline"] {
    display: none;
  }

  .main-nav-list {
    flex-direction: column;
    gap: 2.4rem;
  }

  .main-nav-link:link,
  .main-nav-link:visited {
    font-size: 2.4rem;
  }

  .my-details-wrapper {
     grid-template-columns: 1fr;}

  

}

@media (max-width:44em) {

     .grid {
          row-gap: 4.8rem;
     }

     .grid,
     .certificates,
     .skills-wrapper,
     .projects-wrapper,
     .testestimonial-wrapper
      {
          grid-template-columns: 1fr;
     }

     

     .testestimonial-wrapper {
          gap: 8rem;
     }

     .testimonials {
          padding: var(--96) var(--20);

     }
     .grid--3-cols,
     .grid--4-cols {
          grid-template-columns: repeat(2, 1fr);
     }

     .diets {
          grid-column: 1/-1;
          justify-self: center;
     }

     .heading-secondary {
          margin-bottom: 4.8rem;
     }

     .logo-col, .address-col {
     grid-column: span 3;
     }
     .nav-col {
     grid-row: 1;
     grid-column: span 2;
     margin-bottom: 3.2rem;
     }


}


@media (max-width:34em) {
     
     .logo {
     height: 3.6rem;
}
     .explanation {
        width: 100%;
        padding: 0 20px;
     }

     .buttons-wrapper {
     display: flex;
     justify-content: space-between;
     gap: 20px;
}


.heading-primary{
     font-size: var(--24);
     font-weight: 600;
}


.heading-primary::after {
     height: 3px;
}

.container {
     padding: var(--48) 20px;
}

.name-text {
     font-size: var(--24);
}

.occupation {
     font-size: 2.4rem;
}

@keyframes typing {
     0% {width: 0;}
     50% {width: 170px;}
     100% {
          width: 170px;
     }


}

.bio {
     font-size: 16px;
}

.my-details-wrapper {
     gap: 3rem;
}

.grid {
     gap: 3rem;
}

.my-details {
gap: 2.4rem;
}

.buttons-wrapper {
     width: 100%;
}

.btn {
     font-size: 16px;
     text-decoration: none;
     padding: 8px 12px;
     border-radius: 8px;
     color: #57525E;
}

.hire-me {
     background: linear-gradient(45deg, #310377, #A974FB);
     color: #FEFEFD;
     white-space: nowrap;
     width: 100%;

}

.download-cv {
     box-shadow: 0 0 2px #310377;
     white-space: nowrap;
width: 100%;
}

.form-wrapper {
width: 100%;
}

.contact-me {
     padding: var(--64) var(--20);
}


  /* .btn:link,
  .btn:visited {
    padding: 2.4rem 1.6rem;
  } */


}






